{%extends 'ps4/base.html'%}
{%block content%}
<div class="row" style="margin-top: 60px">
  <div class="card card-block col-md-3 offset-3">
     {% if Status %}
      <p>
       <span class="alert-success">{{ Message }}</span>
      </p>
     {% else %}
     <p class="alert-danger">{{Message}}</p>
     <form action="." method="post">
       {{ form.as_p }}
       {% csrf_token %}
       
      <div class="row justify-content-center col-12">
       <button class="btn btn-primary" type="submit" data-dismiss="modal">Submit</button>
       </div><br>
       
     </form>
     {% endif %}
  </div>
</div>

{%endblock  %}
