{% extends "ps4/base.html"%}

{% block content %}
      <!-- add_product/service_ Modal_Final-->
  <div class="row" style="margin-top: 60px">
  <div class="card card-block col-md-3 offset-3">
   
     <p class="alert-danger"></p>
     <form action="." method="post">
       <!-- {{form.quantity}}<br>
       {{form.unit_price}}<br> -->
       {{form.unit_price}}<br>  
       {{form.description}}<br> 
       <!-- {{form.transaction_type}} -->
       <input type="hidden" name="csrfmiddlewaretoken" value="SpDX8Em8QjCvTM2ED2UtqXGOknVmd2jd28rEhpn3GSABU7L6w6ZxxUmB6ZwBwj1G">
       
       <div class="row justify-content-center col-12">
       <button class="btn btn-primary" type="submit" data-dismiss="modal">Submit</button>
       </div><br>
       
     </form>
   
  </div>
</div>
{% endblock %}