{%extends 'ps4/base.html'%}
<title>	test</title>
{%load static%}

{%block content%}
<!-- Products and Services Table -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Products and Services</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      
                      <th scope="col">PRODUCT/SERVICE_ID</th>
                      <th scope="col">Product/Service</th>
                      <th scope="col">Description</th>
                      <th scope="col">Update </th>
                      <th scope="col">Delete</th>

                    </tr>
                  </thead>
                  <tbody>
                  	{%for data in post%}
                  <tr>
                  	
                  	<td>{{data.id}}</td>
                  	<td>{{data.name}}</td>
                  	<td>{{data.description}}</td>
                    <td><a style="text-decoration:None; color:black;" href="/productservice/edit/{{data.id}}"><span class="badge badge-warning">Edit</span></a></td>
                    <td><a style="text-decoration:None; color:black;" href="/productservice/delete/{{data.id}}"><span class="badge badge-danger">Delete</span></a></td>
                  </tr>
                  	{% endfor%}
                  </tbody>
                  <tfoot>
                    <tr>
                      <th scope="col">Product/Service</th>
                      <th scope="col">ID</th>
                      <th scope="col">Description</th>
                      <th scope="col">Update </th>
                      <th scope="col">Delete</th>


                    </tr>
                  </tfoot>
                  <tbody> 
                  </tbody>
                </table>
              </div> 
              
           <a href="/productservice/">ADD_PRODUCT/SERVICE</a>

          <div class="row justify-content-center col-12" style="bottom: 10px">
          {% include "ps4/pagination.html" with page=data %}
          </div>

        </div>
      </div>

{% endblock %}
