{%extends 'ps4/base.html'%}
{% block title %}TRANSACTIONS_LIST{% endblock %}
{%load static%}

{%block content%} 
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">TRANSACTIONS</h6>
    <form method=get >
      {{myFilter.form}}
       <button class="btn btn-primary" type="submit">SEARCH
          <i class="fas fa-search fa-sm"></i>
        </button>
    </form>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th scope="col" >DATE</th>
            <th scope="col">TRANSACTION TYPE</th>
            <th scope="col">PRODUCT/SERVICE</th>
            <!-- <th scope="col">QUANTITY</th> -->
            <th scope="col"> AMOUNT</th>
            <th scope="col">EDIT</th>
            <th scope="col">DELETE</th>
          <tr>                 
        </thead>
        <tbody>
          {%for tns in data%}
          <tr>
                    
            <td> {{tns.date_created}}</td> 
            <td>{{tns.transaction_type}}</td>
            <td>{{tns.productsandservices}}</td>
            <!-- <td>{{tns.quantity}}</td> -->
            <td>{{tns.unit_price}}</td>
            <td><a style="text-decoration:None; color:black;" href="/transactions/edit/{{tns.id}}"><span class="badge badge-warning">Edit</span></a></td>
            <td><a style="text-decoration:None; color:black;" href="/transactions/delete/{{tns.id}}"><span class="badge  badge-danger">Delete</span></a></td>

          </tr>

                    {% endfor%}
          <tr>
            <td colspan="3">TOTAL BALANCE</td>
            <td id="totalamt" style="font-weight: bold"></td>
          </tr>
        </tbody>
       <!--  <tfoot>
          <tr>
            <th scope="col" >DATE</th>
            <th scope="col">TRANSACTION TYPE</th>
            <th scope="col">PRODUCT/SERVICE</th>
            <th scope="col">QUANTITY</th>
            <th scope="col">AMOUNT</th>
            <th scope="col">EDIT</th>
            <th scope="col">DELETE</th>

          </tr>
        </tfoot> -->
                  
      </table>
    </div> 
        <a href="/transactions/">ADD_TRANSACTION</a>
    <div class="row justify-content-center col-12" style="bottom: 10px">
    {% include "ps4/pagination.html" with page=data %}
    </div>
  </div>
</div>

<!-- total_transaction_amount script-->
 <!--  <script>
    $(document).ready(function()
    {
      var amt;
      var totaltransaction=0;
      $('td:nth-child(5)').each(function()
      {
          amt=$(this).html();
          totaltransaction+=parseInt(amt);
          $('#totns').text(totaltransaction);
      });

    });
 </script>
 -->
{%endblock %} 