<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="apeli" content="">

	{%if title %}
	<title>Dashboard - {{title}}</title>
	{%else%}
	<title>Dashboard</title>
	{%endif%}

	{%load static%}
	 

	<!-- Custom fonts for this template-->
  <link href="{%static 'static/vendor/fontawesome-free/css/all.min.css'%}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{%static 'static/css/admin5.min.css'%}" rel="stylesheet">

</head>
<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">
  	{%include 'ps4/sidebar.html'%}
    {%block sidebar %}
    {%endblock%}


    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">
      	{%include 'ps4/topbar.html'%}
         
        {% block content %}
        {% endblock %}
        
        {% block chart %}
        {% endblock %}

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span><b>hype_app 2020</b></span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

                <!-- Modals-->

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="/login/">Logout</a>
        </div>
      </div>
    </div>
  </div>

         <!-- Income Modal-->
  <div class="modal fade" id="addincome" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add income amount</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body"> 
           <form action="." method="post">
       
       {{form}}<br>  
       {% csrf_token %}</form>
          </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="#">Submit</a>
        </div>
      </div>
    </div>
  </div>


   <!-- liabilities Modal-->
  <div class="modal fade" id="liabilities" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Liabilities</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body"> 
          <a class="btn btn-primary" href="#" data-toggle="modal" data-target="#pendingliabilities">Pending <br></a>

          <a class="btn btn-primary" href="#" data-toggle="modal" data-target="#pendingliabilities">edit</a>           
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="#">Submit</a>
        </div>
      </div>
    </div>
  </div>
<div class="divider"></div>
<br> 

       <!-- add_drinks_ Modal-->
  <div class="modal fade" id="add_drink" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLabel">addStock</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body"> 
              <a class="nav-link dropdown-toggle btn-icon-split" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="icon text-white-50">
                      
                          Select Drink
                    </a>
                    <div class="dropdown-menu dropdown-menu animated--fade-in" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Soda</a>
                    <div class="dropdown-divider"></div>
                       
                        <a class="dropdown-item" href="#">Energy Drink</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Juice</a>
                    </div>
                     <div class="divider"></div>
                     <br>
                <div class="form-group">
                    <input type="text" class="form-control form-control-user" id="exampleInputAmount" aria-describedby="amountHelp" placeholder="Amount spent">
                </div>

                <div class="form-group">
                  <input type="text" class="form-control form-control-user" id="examplequantitybought" aria-describedby="amountHelp" placeholder="Number of pieces bought">
                </div>
            </div>
          <div class="modal-footer">
              <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="#">Submit</a>
          </div>
          </div>
      </div>
  </div>
<div class="divider"></div>
<br>

     <!-- add_snack_ Modal-->
  <div class="modal fade" id="add_snack" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLabel">Stock up snack(s)</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body"> 
              <a class="nav-link dropdown-toggle btn-icon-split" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="icon text-white-50">
                      
                          Select Snack
                    </a>
                    <div class="dropdown-menu dropdown-menu animated--fade-in" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Biscuts</a>
                    <div class="dropdown-divider"></div>
                       
                        <a class="dropdown-item" href="#">Lollipops</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Pk</a>
                    </div>
                     <div class="divider"></div>
                     <br>
                <div class="form-group">
                    <input type="text" class="form-control form-control-user" id="exampleInputAmount" aria-describedby="amountHelp" placeholder="Amount spent">
                </div>

                <div class="form-group">
                  <input type="text" class="form-control form-control-user" id="examplequantitybought" aria-describedby="amountHelp" placeholder="Number of pieces bought">
                </div>
            </div>
          <div class="modal-footer">
              <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="#">Submit</a>
          </div>
          </div>
      </div>
  </div>
<div class="divider"></div>
<br>


       <!-- sellStock Modal-->
  <div class="modal fade" id="sell_drink" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLabel">sell_Drink</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body"> 
              <a class="nav-link dropdown-toggle btn-icon-split" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="icon text-white-50">
                      
                          Select Drink
                    
                    <div class="dropdown-menu dropdown-menu animated--fade-in" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Soda--><span>Ksh.30</span></a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Energy Drink--><span>Ksh.30</span></a> 
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Juices--><span>Ksh.30</span></a>
                    </div>
                    </a>
                     <div class="divider"></div>
                     <br>


                    <div class="row" style="margin-top: 60px">
                    <div class="card card-block col-md-3 offset-3">
                      {% if Status %}
                      <p>
                       <span class="alert-success">{{ Message }}</span>
                        </p>
                        {% else %}
                        <p class="alert-danger">{{Message}}</p>
                        <form action="." method="post">
                         {{ form.as_p }}
                         {% csrf_token %}
       
                         <div class="row justify-content-center col-12">
                          <button class="btn btn-primary" type="submit"  data-dismiss="modal">Submit</button>
                          </div><br>
       
                          </form>
                          {% endif %}
                     </div>
                      </div>

               <!--  <div class="form-group">
                    <input type="text" class="form-control form-control-user" id="exampleInputAmount" aria-describedby="amountHelp" placeholder="Quantity">
                </div> -->
              </span>
            </div>
          <div class="modal-footer">
              <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="#">Submit</a>
          </div>
          </div>
      </div>
  </div>
<div class="divider"></div>
<br>



       <!-- sell_Snack_Modal-->
  <div class="modal fade" id="sellsnack" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLabel">sellSnack</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body"> 
              <a class="nav-link dropdown-toggle btn-icon-split" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="icon text-white-50">
                      
                          Select Snack
                    </a>
                    <div class="dropdown-menu dropdown-menu animated--fade-in" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Biscuts--><span>Ksh.5</span></a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Lollipop--><span>Ksh.10</span></a> 
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Pk--><span>Ksh.5</span></a>
                    </div>
                     <div class="divider"></div>
                     <br>
                <div class="form-group">
                    <input type="text" class="form-control form-control-user" id="exampleInputAmount" aria-describedby="amountHelp" placeholder="Quantity">
                </div>
            </div>
          <div class="modal-footer">
              <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="#">Submit</a>
          </div>
          </div>
      </div>
  </div>
<div class="divider"></div>
<br>
     <!-- sellDrink_Modal-->
  <div class="modal fade" id="sellstock" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLabel">sellDrink</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body"> 
              <a class="nav-link dropdown-toggle btn-icon-split" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="icon text-white-50">
                      
                          Select Drink
                    </a>
                    <div class="dropdown-menu dropdown-menu animated--fade-in" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Soda--><span>Ksh.30</span></a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Energy Drink--><span>Ksh.30</span></a> 
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Juices--><span>Ksh.30</span></a>
                    </div>
                     <div class="divider"></div>
                     <br>
                <div class="form-group">
                    <input type="text" class="form-control form-control-user" id="exampleInputAmount" aria-describedby="amountHelp" placeholder="Quantity">
                </div>
            </div>
          <div class="modal-footer">
              <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="#">Submit</a>
          </div>
          </div>
      </div>
  </div>
<div class="divider"></div>
<br>

     <!-- Modelsignup-->
  <div class="modal fade" id="Modelsignup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">

            <form method="post">
            <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLabel">sellDrink</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body"> 
  
                
             
            </div>
          <div class="modal-footer">
              <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
              <button class="btn btn-primary" type="submit" data-dismiss="modal">Submit</button>
          </div>

        </form>
         
          </div>
      </div>
  </div>
<div class="divider"></div>
<br>
     <!-- add_product/service_ Modal_Final-->
 <form method="post">
  <div class="modal fade" id="productservice" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLabel">add product/service</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
            </div>
            
            <div class="modal-body"> 
              {% csrf_token%}
              {{form}} <br>  
                             
            </div>
            
          <div class="modal-footer">
              <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
              <button class="btn btn-primary" type="submit">  Submit</button>
          </div>
          </div>
      </div>
    </div>
    </form>
 <div class="divider"></div>
<br>
  
       <!-- add_product/service_ Modal_Final-->
 <!-- <form method="post">
  <div class="modal fade" id="buysnack" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLabel">buysnack</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
            </div>
            
            <div class="modal-body"> 
              {% csrf_token%}
               
              {{form.quantity}} <br>  
              {{form.amount}}<br>
              
            </div>
            
          <div class="modal-footer">
              <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
              <button class="btn btn-primary" type="submit">  Submit</button>
          </div>
          </div>
      </div>
    </div>
    </form>
 <div class="divider"></div>
<br>
    -->



  <!-- checkbox script-->
  <script>
   function showHide(checked) {
    if(checked == true)
      $("#hiddenField").fadeIn();

    else $("#hiddenField").fadeOut();
   }
 </script>

  <!-- Bootstrap core JavaScript-->
  <script src="{%static 'static/vendor/jquery/jquery.min.js'%}"></script>
  <script src="{%static 'static/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{%static 'static/vendor/jquery-easing/jquery.easing.min.js'%}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{%static 'static/js/sb-admin-2.min.js'%}"></script>

  <!-- Page level plugins -->
  <script src="{%static 'static/vendor/chart.js/Chart.min.js'%}"></script>

  <!-- Page level custom scripts -->
  <script src="{%static 'static/js/demo/chart-area-demo.js'%}"></script>
  <script src="{%static 'static/js/demo/chart-pie-demo.js'%}"></script>
 

  <!-- Bootstrap core JavaScript-->

   <!--Jquery first, then pooper.js then bootstrap-->
  <script src="{%static 'static/js/jquery.min.js'%}"></script>
  <!-- Core plugin JavaScript-->
  <!-- <script src="{%static 'static/vendor/jquery.easing.min.js'%}"></script> -->
   <script src="{%static 'static/js/popper.min.js'%}"></script>
  <script src="{%static 'static/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>

  
  <!-- Custom scripts for all pages-->
  <script src="{%static 'static/js/sb-admin-2.min.js'%}"></script>

  <!-- Page level plugins -->
  <script src="{%static 'static/vendor/chart.js/Chart.min.js'%}"></script>

  <!-- Page level custom scripts -->
  <script src="{%static 'static/js/demo/chart-area-demo.js'%}"></script>
  <script src="{%static 'static/js/demo/chart-area-demo.js'%}"></script>
  <script src="{%static 'static/js/demo/chart-pie-demo.js'%}"></script>

</body>
</html>