{%extends 'ps4/base.html'%}
<title>	test</title>
{%load static%}

{%block content%}
<div class="container">
	<div class="col-md-8">		
 		 
		<a class="btn btn-primary" href="#" data-toggle="modal" data-target="#productservice">Add Product or Service</a>
		<div class="divider"></div>
		<br>		
		<a class="btn btn-primary" href="/income/" >Income</a>
		<div class="divider"></div><br>
		<a class="btn btn-primary" href="/buysnack/" >Buy Snack</a>
		<div class="divider"></div><br>
		<a class="btn btn-primary" href="/sellsnack/" >Sell Snack</a>
		<div class="divider"></div><br>
		<a class="btn btn-primary" href="/spend/" >Spend</a><br>

		<h2>{{text}}</h2>
 {%for name in post%}
 		<h1>{{name.name}}</h1>
 {%endfor%}
 {%for description in post%}
 		<h1>{{description.description}}</h1>	
 {%endfor%}
 	</div> 

 	 
</div>

{%endblock%}

