{%extends 'ps4/base.html'%}
<title>	test</title>
{%load static%}

{%block content%}
<!-- Products and Services Table -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Products and Services</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th scope="col">Product/Service</th>
                      <th scope="col">ID</th>
                      <th scope="col">Description</th>
                    </tr>
                  </thead>
                  <tbody>
                  	{%for post in data%}
                  <tr>
                  	<td>{{post.name}}</td>
                  	<td>{{post.id}}</td>
                  	<td>{{post.description}}</td>
                  </tr>
                  	{% endfor%}
                  </tbody>
                  <tfoot>
                    <tr>
                      <th scope="col">Product/Service</th>
                      <th scope="col">ID</th>
                      <th scope="col">Description</th>
                    </tr>
                  </tfoot>
                  <tbody> 
                  </tbody>
                </table>
              </div>
            </div>
          </div>

<!-- Products and Services Table -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Transactions</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th scope="col">DATE</th>
                      <th scope="col">TRANSACTION_ID</th>
                      <th scope="col">PRODUCT/SERVICE</th>
                      <th scope="col">TRANSACTION TYPE</th>
                      <th scope="col">Quantity</th>
                      <th scope="col">Unit Price</th>
                       
                    </tr>
                  </thead>
                  <tbody>

                  <tr>
                  	<td>date</td>
                  	<td>id</td>
                  	<td>product/service</td>
                  	<td>type</td>
                  	<td>quantity</td>
                  	<td>amount</td>
                  </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <th scope="col">DATE</th>
                      <th scope="col">TRANSACTION_ID</th>
                      <th scope="col">PRODUCT/SERVICE</th>
                      <th scope="col">TRANSACTION TYPE</th>	                      
                      <th scope="col">Quantity</th>
                      <th scope="col">Unit Price</th>
                       
                    </tr>
                  </tfoot>
                  <tbody> 
                  </tbody>
                </table>
              </div>
            </div>
          </div>

             

{%endblock%}

